<% provide :head_tags do %>
    <script>
        document.addEventListener("DOMContentLoaded", () => {
            initMap({
                centerLat: <%=@center.latitude%>, 
                centerLng: <%=@center.longitude%>, 
                markers:   <%= @markers %> 
            });
        });
    </script>
<% end %>
<h1>Maps</h1>
<%= render 'layouts/map' %>