html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background: #010618;
}

p {
  margin: 0;
  padding: 0;
}

.center-container {
  margin: auto auto;
  width: 100%;
}

* {
  backface-visibility: hidden;
  -webkit-transform: translateZ(0);
  -webkit-transform: scale(1);
  font-family: 'Roboto', sans-serif;
}