.form-background-image {
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), #010618),
  url('camping_background.png');
  height: 100vh;
  position: relative;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border: none;
  margin-bottom: -5px;
}

.back-button {
  height: 30px;
  width: 80px;
  margin: 10px;
  padding: 5px;
  border: none;
  border-radius: 5px;
  color: white;
  background-image: linear-gradient(to right, #34214c, #241d40, #171833, #0e1125, #010618);
  cursor: pointer;
}


.icon-wrapper {
  position: absolute;
  top: -50px;
  z-index: 10;
  background-color: white;
  border-radius: 50%;
  padding: 15px;
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.icon-wrapper p {
  font-weight: bold;
  padding-top: 4px;
}

.icon {
  width: 50px;
}

.form-card {
  min-width: 250px;
  max-width: 500px;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 5px;
  background-color: white;
  margin: 60px auto 10px auto;
}

.form-wrapper {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to right top, #434343, #3c3c3c, #343434, #2d2d2d, #262626);
  border-radius: 5px;
  padding: 40px 0 15px 0;
}

.form-input-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px 0;
  padding: 0 10px;
}

.form-text-input {
  height: 24px;
  min-width: 200px;
  max-width: 400px;
  border-radius: 5px;
  border: none;
  padding-left: 5px;
  margin-left: 8px;
  font-size: 15px;
}

textarea.form-text-input {
  height: 60px;
}

.form-label {
  color: white;
  margin-bottom: 5px;
}

.image-upload {
  color: white;
  margin-left: 8px;
}

.create-button {
  margin: 5px auto 15px auto;
  width: 200px;
  height: 50px;
  background-image: linear-gradient(to right, #970747, #a52e5c, #b14771, #bd5f86, #c9759a);background-image: linear-gradient(to right, #970747, #a31853, #af255f, #ba316c, #c63c79);
  color: white;
  border-radius: 5px;
  border: none;
  font-size: 1.5em;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
  cursor: pointer;
  transition: all 0.4s ease-out;
}

.create-button:hover {
  transform: translateY(-2px);
  transform: translateX(-2px);
  width: 204px;
  height: 51px;
  font-size: 1.54em;
}