.background {
  background-image: linear-gradient(to right bottom, #b6fcff, #ccfbff, #e4faff, #f6fbff, #ffffff);
  position: relative;
  height: 100vh;
  max-height: 1200px;
  min-height: 600px;
}

.background-image {
  background-image: image-url('jungle.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-filter: drop-shadow(1px 2px rgba(0, 0, 0, 0.32));
  filter: drop-shadow(1px 2px rgba(0, 0, 0, 0.32));
}

.hero {
  position: absolute;
  top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  left: 80px;
}

@media(max-width: 900px) {
  .hero {
    left: 0;
    right: 0;
  }
}

.hero-slogan {
  font-size: 30px;
  text-align: center;
  font-weight: 900;
}

.logo {
  width: 200px;
}

.background-cta {
  position: absolute;
  left: calc(50% - 100px);
  top: calc(50% - 25px);
  z-index: 100;
  width: 200px;
  height: 50px;
  background-image: linear-gradient(to right, #970747, #a52e5c, #b14771, #bd5f86, #c9759a);
  color: white;
  border-radius: 5px;
  border: none;
  font-size: 1.5em;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
  cursor: pointer;
  transition: all 0.4s ease-out;
}

.background-cta p {
  margin: 0;
  padding: 0;
  z-index: 1;
}

.background-cta:hover {
  transform: translateY(-2px);
  transform: translateX(-2px);
  width: 204px;
  height: 51px;
  font-size: 1.54em;
}

.background-map {
  position: absolute;
  right:  calc(50% - 20px);  
  bottom: 60px;
  z-index: 100;
  width: 40px;
  cursor: pointer;
  transition: width 0.5s;
  -webkit-filter: drop-shadow(1.5px 3px rgba(0, 0, 0, 0.5));
  filter: drop-shadow(1.5px 3px rgba(0, 0, 0, 0.5));
  opacity: 0.5;
  transition: opacity 0.5s ease-out;
}

.background-map:hover + .background-map-arrow {
  opacity: 1;
}

.background-map:hover {
  opacity: 1;
}

.background-map-arrow {
  position: absolute;
  right: calc(50% - 40px);
  bottom: -10px;
  z-index: 100;
  width: 80px;
  cursor: pointer;
  -webkit-filter: drop-shadow(1.5px 3px rgba(0, 0, 0, 0.5));
  filter: drop-shadow(1.5px 3px rgba(0, 0, 0, 0.5));
  opacity: 0.5;
  transition: opacity 0.5s ease-out;
}
