.background-image {
  background-image: image-url('night_background_gradient.png');
  height: 100vh;
  position: relative;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.background-cta {
  position: absolute;
  left: calc(50% - 100px);
  top: calc(50% - 25px);
  z-index: 100;
  width: 200px;
  height: 50px;
  background-image: linear-gradient(to right, #970747, #a52e5c, #b14771, #bd5f86, #c9759a);background-image: linear-gradient(to right, #970747, #a31853, #af255f, #ba316c, #c63c79);
  color: white;
  border-radius: 5px;
  border: none;
  font-size: 1.5em;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
  box-shadow: 2px 4px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transition: all 0.4s ease-out;
}

.background-cta p {
  margin: 0;
  padding: 0;
  z-index: 1;
}

.background-cta:hover {
  transform: translateY(-2px);
  transform: translateX(-2px);
  width: 204px;
  height: 51px;
  box-shadow: 3px 6px rgba(0, 0, 0, 0.6);
  font-size: 1.54em;
}

.background-map {
  position: absolute;
  right: 70px;
  bottom: 60px;
  z-index: 100;
  width: 40px;
  cursor: pointer;
  transition: width 0.5s;
  -webkit-filter: drop-shadow(1.5px 3px rgba(0, 0, 0, 0.5));
  filter: drop-shadow(1.5px 3px rgba(0, 0, 0, 0.5));
  opacity: 0.5;
  transition: opacity 0.5s ease-out;
}

.background-map:hover + .background-map-arrow {
  opacity: 1;
}

.background-map:hover {
  opacity: 1;
}

.background-map-arrow {
  position: absolute;
  right: 50px;
  bottom: -10px;
  z-index: 100;
  width: 80px;
  cursor: pointer;
  -webkit-filter: drop-shadow(1.5px 3px rgba(0, 0, 0, 0.5));
  filter: drop-shadow(1.5px 3px rgba(0, 0, 0, 0.5));
  opacity: 0.5;
  transition: opacity 0.5s ease-out;
}

.logo {
  position: absolute;
  left: calc(50% - 150px);
  top: 50px;
  z-index: 100;
  width: 300px;
  -webkit-filter: drop-shadow(3px 6px rgba(0, 0, 0, 0.5));
  filter: drop-shadow(3px 6px rgba(0, 0, 0, 0.5));
}