<% render 'head_autocomplete' %>
<style>
  body { background-color: #010618 }
</style>

<div class="form-background-image">
  <div class="center-container">
    <%= link_to(root_path) do %>
      <button class='back-button box-shadow-1'>Zurück</button>
    <% end %>
    <%= render 'form' %>
  </div>
</div>

